---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Meetingco.st" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://meetingco.st/" />
    <meta
      property="og:description"
      content="How much does that meeting cost?"
    />
    <meta property="og:image" content="/og-image.webp" />
    <meta
      property="og:image:alt"
      content="Simple graphic with the text 'Meetingco.st - How much does that meeting cost?'"
    />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Meetingco.st - How much does that meeting cost?</title>
  </head>
  <body class="bg-peachy text-peachy-dark font-ubuntu">
    <slot />
  </body>
</html>
